* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --input-border-color: #235789;
  --secondory-color: #235789;
  --bg-color: #fdfffc;
}

body {
  height: 100svh;
  color: var(--secondory-color);
  background: var(--bg-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

div {
  /* border: 1px solid red; */
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  height: 85svh;
  padding: 15px;
}

/* Main Today Weather */

.today-main {
  grid-column: 2;
  display: grid;
  grid-template-rows: 75px 1fr;
  justify-items: center;
  padding: 10px;
}

/* Search Location */

.search-area {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  margin-top: 7px;
  width: 100%;
}

.search-input-btn {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.location-input {
  border: 1px solid var(--input-border-color);
  border-radius: 5px 5px 0 0;
  padding: 5px;
  height: 40px;
  width: 300px;
}

.location-input:focus {
  outline: none;
  border: 1px solid var(--input-border-color);
}

.location-list {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 300px;
  top: 100%;

  border: 1px solid black;
  border-radius: 0 0 5px 5px;

  background-color: rgb(218, 218, 218);
}

.location-option {
  padding: 5px;
  cursor: pointer;
}

.location-option:not(:first-child) {
  border-top: 1px solid black;
}

.location-option:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}

.search-button {
  position: absolute;
  right: 0;

  height: 90%;
  width: 12%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(255, 255, 255);
  border: 1px solid var(--input-border-color);
  border-radius: 50%;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(25, 125, 232);
}

.search-button svg {
  width: 100%;
  height: 100%;
  scale: 0.7;
}

.search-button:hover svg {
  fill: white;
}

/* Temp Toggle */

.temp-toggle {
  position: relative;
  padding: 20px 40px;
  border: 1px solid var(--secondory-color);
  border-radius: 22px;
  cursor: pointer;
}

.toggle-circle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: var(--secondory-color);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggle-circle:hover {
  background-color: #487095;
}

.toggle {
  transform: translateX(-100%);
}

.temp-toggle p {
  position: absolute;
  top: 7px;
  color: var(--bg-color);
  font-size: 1.4rem;
  user-select: none;
  z-index: 1;
}

.cel {
  right: 8px;
}

.fah {
  left: 8px;
}

/* Basic Info */

.basic-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.basic-date {
  display: grid;
  gap: 5px;
}

.basic-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.1em;
}

.basic-weather > div {
  display: flex;
}

.today-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.c1 {
  align-items: center;
  gap: 3px;
  font-size: 1.5rem;
}

.c2 {
  flex-direction: column;
  gap: 8px;
}

.c3 {
  display: flex;
}

.c4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.sun {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

/* Full Weather Info */

.full-info {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  grid-template-rows: repeat(2, 100px);

  width: 100%;

  border: 2px solid var(--secondory-color);
  border-radius: 25px;

  font-size: 1.2rem;
}

.today-main p::before {
  padding-right: 5px;
  vertical-align: -30%;
}

.today-humidity::before {
  content: url(./icons/humidity.png);
}

.today-wind::before {
  content: url(./icons/wind.png);
}

.today-uv::before {
  content: url(./icons/uv.png);
}

.today-vis::before {
  content: url(./icons/visibility.png);
}

.today-rain::before {
  content: url(./icons/rain.png);
}

.today-snow::before {
  content: url(./icons/snow.png);
}

/* Forecast Section */

.forecast-container {
  display: grid;
  grid-template-rows: 50px 1fr;
  border: 2px solid var(--secondory-color);
  border-radius: 10px;
  width: 450px;
}

.forecast-container > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
  background-color: var(--secondory-color);
  border-radius: 5px 5px 0 0;
  padding: 5px;
  font-size: 1.1rem;
}

.forecast-list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  width: 100%;
}

.forecast-list > div:last-child {
  border-top: 3px solid var(--secondory-color);
}

.weather-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.1rem;
  color: var(--secondory-color);
  width: 100%;
}

.c5 {
  display: flex;
  align-items: center;
  gap: 4px;
}

.c6 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
